# Program and python chapter=1Â¶

# Start from python first program chepter=2

In [1]:
print("Hello word")

Hello word

In [2]:
print("Hello word')

SyntaxError: EOL while scanning string literal (<ipython-input-2-684185fcde72>, line 1)

# Variable,Data type or Operation chapter=3

In [3]:
text="Hello Word"
print(text)

Hello Word

In [4]:
# Two number sum chapter=3
number1=10
number2=5
result=number1+number2
print(result)
result=number1-number2
print(result)
result=number1*number2
print(result)
result=number1/number2
print(result)

15
5
50
2.0

In [5]:
# chapter=3
number1=10
print(number1)
number1=15
number1=18
print(number1)
number1="hello"
print(number1)

10
18
hello

In [6]:
# chapter=3
number1="hello"
number2=2
result=number1+number2

TypeError: can only concatenate str (not "int") to str

In [7]:
v=10.0
type(v)

float

In [8]:
v=10
type(v)

int

In [9]:
v2="10"
type(v2)

str

In [10]:
## chapter=3
s="100"
print(s)
s="aadfas-223<>?232"
print(s)
s='abc 123'
print(s)
s=''
print(s)

100
aadfas-223<>?232
abc 123

In [11]:
#chapter=3
a=1#int
b=2.1#float
c=a+b
print(c)#float
a=1#int
b="2"#string
c=a+b
print(c)#then Error

3.1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
5/2

2.5

In [13]:
5-2

3

In [14]:
5*2

10

In [15]:
5//2

2

In [16]:
5%2

1

In [17]:
5**2

25

In [18]:
a=1
b=1.2
c="hello"
print(a,b,c)
print(a,b,c,"World")

1 1.2 hello
1 1.2 hello World

In [19]:
name=input("What is your name?")
print("Welcome to python,",name,"!")

What is your name?Hamid Hosen
Welcome to python, Hamid Hosen !

In [20]:
number1=input("Please type an integer and press enter:")
number2=input("Please type another integer and press enter :")
print("number1+number2=",number1+number2)

Please type an integer and press enter:3
Please type another integer and press enter :3
number1+number2= 33

In [21]:
number1=input("Please type an integer and press enter:")
number2=input("Please type another integer and press enter :")
number1=int(number1)
number2=int(number2)
print("number1+number2=",number1+number2)
print("number1+number2=",number1-number2)
print("number1+number2=",number1*number2)
print("number1+number2=",number1/number2)
print("number1+number2=",number1%number2)
print("number1+number2=",number1//number2)
print("number1+number2=",number1**number2)

Please type an integer and press enter:5
Please type another integer and press enter :2
number1+number2= 7
number1+number2= 3
number1+number2= 10
number1+number2= 2.5
number1+number2= 1
number1+number2= 2
number1+number2= 25

# Conditional logic chapter=4

In [22]:
2==3
3==3
2>3
2<3
2!=3
3!=3
2>=3
2<=3

True

In [23]:
"Bangladesh"=="Bangladesh"
"Bangladesh"=="bangladesh"

False

In [24]:
my_money=30
rickshaw_fare=40
my_money>=rickshaw_fare

False

In [25]:
my_money=30
rickshaw_fare=30
my_money>=rickshaw_fare

True

In [26]:
my_money=50
rickshaw_fare=40
my_money>=rickshaw_fare

True

In [27]:
today="Wednesday"
today=="Tuesday"

False

In [28]:
not(today=="Tuesday")

True

In [29]:
not True

False

In [30]:
not False

True

In [31]:
number=20
number>10

True

In [32]:
number=20
number<100

True

In [33]:
number=20
number>10 and number<100

True

In [34]:
number=200
number>10

True

In [35]:
number=200
number<100

False

In [36]:
number=200
number>10 and number<100

False

In [37]:
number=200
number>10 or number<100

True

In [38]:
number=200
not(number<100)

True

In [39]:
#list
number=[1,2,3,4,5,6,7,8,9,10]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
number=[1,2,3,4,5,6,7,8,9,10]
print(number)
print(number[0])
print(number[1])
print(number[9])
print(number[10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
10

IndexError: list index out of range

In [41]:
saarc=["Bangladesh","Afghanistan","Bhuten","Nepal","India","Pakistan","Sri Lanka"]
print(saarc)
print(saarc[0])
print("Number of countries in SAARC:",len(saarc))

['Bangladesh', 'Afghanistan', 'Bhuten', 'Nepal', 'India', 'Pakistan', 'Sri Lanka']
Bangladesh
Number of countries in SAARC: 7

In [42]:
"Bangladesh" in saarc

True

In [43]:
"China" in saarc

False

In [44]:
"China" not  in saarc

True

In [45]:
"India" not in saarc

False

In [46]:
#if statment
saarc=["Bangladesh","Afghanistan","Bhuten","Nepal","India","Pakistan","Sri Lanka"]
country=input("Enter the name of the country:")
if country in saarc:
    print(country," is a number of SAARC")
print("Program to tarminat.")

Enter the name of the country:Bangladesh
Bangladesh  is a number of SAARC
Program to tarminat.

In [47]:
#if-else
saarc=["Bangladesh","Afghanistan","Bhuten","Nepal","India","Pakistan","Sri Lanka"]
country=input("Enter the name of the country:")
if country in saarc:
    print(country," is a member of SAARC.")
else:
    print(country,"is not a member of SAARc")

Enter the name of the country:japan
japan is not a member of SAARc

In [48]:
#else if=elif
marks=input("Please enter your marks:")#string
marks=int(marks)#string conver to integer
if marks>=80:
    grad="A+"
elif marks>=70:
    grad="A"
elif marks>=60:
    grad="A-"
elif marks>=50:
    grad="B"
else:
    grad="F"
print("Your grad is ",grad)

Please enter your marks:45
Your grad is  F

In [49]:
#positive or negative
num=int(input("Enter your number:"))
if num>=0:
    print("The number is positive.")
else:
    print("The number is negative.")

Enter your number:4
The number is positive.

In [50]:
#even or odd number
num=int(input("Enter your number:"))
if num%2==0:
    print("The number is even.")
else:
    print("the number is odd.")

Enter your number:3
the number is odd.

In [51]:
#large number
num1=20
num2=30
num3=25
if num1>num2:
    max_n=num1
else:
    max_n=num2
if num3>max_n:
    max_n=num3
print("Maximum:",max_n)

Maximum: 30

In [52]:
#leap year
year=int(input("Enter your number:"))
if year%4==0:
    print("Yes")
elif year%100!=0 and year%400==0:
    print("Yes")
else:
    print("No")

Enter your number:2015
No

# Turtle identifire chapter=5

In [67]:
from turtle import*
done()

In [69]:
import turtle 

turtle.forwad(100)

turtle.exitonclick()

AttributeError: module 'turtle' has no attribute 'forwad'

In [71]:
import turtle 
turtle.shape("turtle")
turtle.speed(2)
turtle.forward(100)
turtle .left(90)#degre
turtle.forward(100)
turtle .left(90)
turtle.forward(100)
turtle .left(90)
turtle.forward(100)
turtle .left(90)
turtle.exitonclick()

In [73]:
import turtle 
turtle.shape("turtle")
turtle.speed(2)
turtle.forward(100)#draw base
turtle .left(120)#angle
turtle.forward(100)
turtle .left(120)
turtle.forward(100)

turtle.exitonclick()

# Loop chapter=6

In [59]:
for i in range(10):#i=0 then (n-1)
    print("I want to be a great programmer.")

I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.
I want to be a great programmer.

In [60]:
for i in range(5):
    print(i)

0
1
2
3
4

In [75]:
import turtle 
turtle.shape("turtle")
turtle.speed(2)
turtle.forward(100)
turtle .left(90)#degre
turtle.forward(100)
turtle .left(90)
turtle.forward(100)
turtle .left(90)
turtle.forward(100)
turtle .left(90)
turtle.exitonclick()

In [62]:
import turtle 
turtle.shape("turtle")
turtle.speed(2)
for i in range(4):
   turtle.forward(100)
   turtle .left(90)
turtle.exitonclick()

In [64]:
import turtle 
turtle.shape("turtle")
turtle.speed(2)
for i in range(4):
   turtle.forward(100)
   turtle .left(90)
turtle.exitonclick()

In [65]:
result=0
for i in range(50):
    result=result+1
print(result)

50

In [76]:
result=0
for _ in range(50):
    result=result+1
print(result)

50

In [77]:
result=0
num=1
for _ in range(50):
    result=result+num
    num=num+1
print(result)

1275

In [78]:
result=0
for num in range(51):
    result=result+num
print(result)

1275

In [79]:
result=0
for num in range(1,51):
    result+=num
print(result)

1275

In [80]:
for i in range(1,20,5):
    print(i)

1
6
11
16

In [81]:
number=[6,1,3,0,9,3,2,5]
max_n=number[0]
for n in number:
    if n>max_n:
        max_n=n
print(max_n)

9

In [82]:
result=0
for num in range(100+1):
    if num%5==0:
        print(num)
        result=result+num
print("Sum is:",result)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
Sum is: 1050

In [83]:
result=0
for num in range(5,101,5):
    print(num)
    result+=num
print("Sum is:",result)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
Sum is: 1050

In [85]:
import turtle
turtle.speed(1)
for i in range(20):
    turtle.forward(10)
    turtle.penup()
    turtle.forward(3)
    turtle.pendown()
turtle.exitonclick()

In [88]:
import turtle
turtle.speed(1)
for side_length in range(50,100,10):#50,60,70,80,90
    for i in range(4):#squre loop=4
        turtle.forward(side_length)#50,60,70,80,90
        turtle.left(90)#angle
turtle.exitonclick()

In [89]:
#list loop use
saarc=["Bangladesh","Afghanistan","Bhuten","Nepal","India","Pakistan","Sri Lanka"]
for country in saarc:
    print(country," is a member of SAARC.")

Bangladesh  is a member of SAARC.
Afghanistan  is a member of SAARC.
Bhuten  is a member of SAARC.
Nepal  is a member of SAARC.
India  is a member of SAARC.
Pakistan  is a member of SAARC.
Sri Lanka  is a member of SAARC.

In [90]:
li=list(range(11))
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
li=list(range(2,21,2))
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [92]:
i=0
while i<5:
  print(i)
  i=i+1

0
1
2
3
4

In [93]:
i=5
while i>=0:
    i=i-1
    print(i)

4
3
2
1
0
-1

In [94]:
n=int(input("Enter your positive number:"))
m=1
while m<=10:
    print(n,"x",m,"=",n*m)
    m=m+1

Enter your positive number:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [96]:
import turtle
turtle.color("red")
turtle.speed(9)
counter=0
while counter<36:
    for i in range(4):
        turtle.forward(100)
        turtle.left(90)#angle
    turtle.left(10)
    counter+=1
turtle.exitonclick()

In [98]:
import turtle
turtle.color("red","blue")
height=10
width=10
turtle.speed(5)
turtle.penup()
for y in range(height):
    for x in range(width):
        turtle.dot()
        turtle.forward(20)
    turtle.backward(20*width )
    turtle.right(90)
    turtle.forward(20)
    turtle.left(90)
turtle.exitonclick()

In [100]:
#break & continue
while True:
    n=int(input("Enter your postive number:"))
    if n==0:
        break
    print("Squre of",n,"is",n*n)

Enter your postive number:5
Squre of 5 is 25
Enter your postive number:4
Squre of 4 is 16
Enter your postive number:3
Squre of 3 is 9
Enter your postive number:0

In [101]:
while True:
    n=int(input("Enter your postive number:"))
    if n<0:
        print("We only allow positive number.Please try again.")
        continue
    if n==0:
        break
    print("Squre of",n,"is",n*n)

Enter your postive number:9
Squre of 9 is 81
Enter your postive number:8
Squre of 8 is 64
Enter your postive number:0

In [103]:
terminate=False
while not terminate:
    number1=int(input("Please enter a number:"))
    number2=int(input("Plese enter another number:"))
    while True:
        operation=input("Enter add/sub or quit to exit:")
        if operation=="quit":
            terminate=True
            break
        if  operation not in ["add","sub"]:
            print("unknown operation!")
            continue
        if operation=="add":
            print("Result is ",number1+number2)
            break
        if operation=="sub":
            print("Result is ",number1-number2)
            break

Please enter a number:3
Plese enter another number:4
Enter add/sub or quit to exit:add
Result is  7
Please enter a number:4
Plese enter another number:5
Enter add/sub or quit to exit:quit

# Function chapter=7

In [104]:
def add(n1,n2):
    return n1+n2

In [105]:
def add(n1,n2):
    return n1+n2
n=10
m=5
result=add(n,m)
print(result)

15

In [106]:
def add(n1,n2):
    return n1+n2
n=10
m=5
result=add(n,m)
print(result)

number=10
number1=10
result=add(number,number1)
print(result)

n1=20
n2=10
print(add(n1,n2))

print(add(2.5,3.5))

15
20
30
6.0

In [108]:
import turtle
turtle.speed(2)
turtle.color("red")
def draw_square(side_lenge):
    for i in range(4):
        turtle.forward(side_lenge)
        turtle.left(90)
draw_square(100)
turtle.exitonclick()

In [110]:
import turtle
turtle.speed(10)
turtle.color("red")
def draw_square(side_lenge):
    for i in range(4):
        turtle.forward(side_lenge)
        turtle.left(90)
        turtle.right(4)
counter=0
while counter<50:
    draw_square(200)
    counter+=1
turtle.exitonclick()

In [ ]:
import turtle
turtle.speed(10)
turtle.color("red")
def draw_square(side_lenge):
    for i in range(4):
        turtle.forward(side_lenge)
        turtle.left(90)
counter=0
while counter<90:
    draw_square(150)
    turtle.right(4)
    counter+=1
turtle.exitonclick()

In [ ]:
import turtle

turtle.speed(2)
turtle.color("red")


def draw_square(side_lenge):
    for i in range(3):
        turtle.forward(side_lenge)
        turtle.left(120)


draw_square(100)
turtle.exitonclick()

In [113]:
def myfnc(x):
    print("inside myfnc", x)
    x=10
    print("inside myfnc", x)
x=20
myfnc(x)
print(x)

inside myfnc 20
inside myfnc 10
20

In [114]:
def myfnc(y):
    print("y=",y)
    print("x=",x)
x=20
myfnc(x)
print("y:",y)

y= 20
x= 20
y: 9

In [115]:
def myfnc(y=10):
    print("y=",y)
x=20
myfnc(x)
myfnc()

y= 20
y= 10

In [116]:
def myfnc(x,y=10,z):
    print("x=",x, "y=",y,"z=",z)
x=5
y=6
z=7
myfnc(x,y,z)

SyntaxError: non-default argument follows default argument (<ipython-input-116-8eea83db8098>, line 1)

In [117]:
def myfnc(x,y=10,z=0):
    print("x=",x, "y=",y,"z=",z)
x=5
y=6
z=7
myfnc(x,y,z)

x= 5 y= 6 z= 7

In [118]:
def myfnc(x,y=10,z=0):
    print("x=",x, "y=",y,"z=",z)
x=5
y=6
z=7
myfnc(x,y,z)
myfnc(x,y)
myfnc(x)

x= 5 y= 6 z= 7
x= 5 y= 6 z= 0
x= 5 y= 10 z= 0

In [119]:
def add_numbers(numbers):
    result=0
    for number in numbers:
        result+=number
    return result
result=add_numbers([1,2,30,4,5,9])
print(result)

51

In [120]:
def test_fnc(li):
    li[0]=10
    li[1]=11
my_list=[1,2,3,4]
print("before function call", my_list)
test_fnc(my_list)
print("after function call", my_list)

before function call [1, 2, 3, 4]
after function call [10, 11, 3, 4]

In [121]:
list1=[1,2,3,4]
list2=list1
print(list1)

print(list2)
list2[0]=100

print(list2)
print(list1)

[1, 2, 3, 4]
[1, 2, 3, 4]
[100, 2, 3, 4]
[100, 2, 3, 4]

In [122]:
li=[1,2,3,4,5]
result=sum(li)
print(result)

15

In [123]:
def test_fnc(num):
    sum=0
    for avg in num:
        sum=sum+avg
        result=sum/5
    return result
my_list=[1,2,3,4,5]
result=test_fnc(my_list)
print(result)

3.0

# String chapter=8

In [124]:
s='hello'
len(s)

l=len(s)
l

print(l)

s=''
len(s)

s=""
len(s)

5

0

In [125]:
s="Dimik's"
print(s)

s='Dimik\'s'
print(s)

Dimik's
Dimik's

In [126]:
Country="Bangladesh"
Country[0]
Country[1]
Country[2]
Country[6]
Country[8]
Country[9]
Country[10]

IndexError: string index out of range

In [127]:
country="Bangladesh"
for i in country:
    print(i)

B
a
n
g
l
a
d
e
s
h

In [128]:
#list
c=['A','b','c']
print(c)
c[0]='a'
print(c)
#String
country="Bangledesh"
country[0]='b'

['A', 'b', 'c']
['a', 'b', 'c']

TypeError: 'str' object does not support item assignment

In [129]:
country="Bangla"+"desh"
print(country)
x="50"+"5"
print(x)

Bangladesh
505

In [130]:
country="Bangladesh"
country.find("Ban")
country.find("ang")
country.find("Bangla")
country.find("Bengla")
country.find("desh")

6

In [131]:
country="North Korea"
new_country=country.replace("North","South")
print(new_country)
print(country)
text="this is a test.this is another test.this is final test."
new_text=text.replace("this","This")
print(new_text)
print(text)

South Korea
North Korea
This is a test.This is another test.This is final test.
this is a test.this is another test.this is final test.

In [132]:
text="hello"
text=text.replace("hello","Hello")
print(text)

Hello

In [133]:
text="  this is a string."
text

'  this is a string.'

In [134]:
text="  this is a string.  "
text.lstrip()

'this is a string.  '

In [135]:
text="  this is a string.  "
text.rstrip()

'  this is a string.'

In [136]:
text="  this is a string.  "
text.strip()

'this is a string.'

In [137]:
text="  this is a string.  "
new_text=text.rstrip()
new_text
text

'  this is a string.  '

In [138]:
s1="Bangladesh"
s_up=s1.upper()
s_up

'BANGLADESH'

In [139]:
s1="Bangladesh"
s_lo=s1.lower()
s_lo

'bangladesh'

In [140]:
s="hello"
s_cap=s.capitalize()
s_cap

'Hello'

In [141]:
str="I am a programmer."
words=str.split()
print(words)

['I', 'am', 'a', 'programmer.']

In [142]:
str="I am a programmer."
words=str.split()
words

['I', 'am', 'a', 'programmer.']

In [143]:
str="I am a programmer."
words=str.split()
for word in words:
    print(word)

I
am
a
programmer.

In [144]:
str="This is"
str.count("is")

2

In [145]:
s="Bangladesh"
s.startswith("Ban")
s.startswith("ban")
s.startswith("an")
s.endswith("Bang")
s.endswith("desh")
s.endswith("h")

True

In [146]:
name="Mr.hamid"
if name.startswith("Mr."):
    print("Dear Sir")

Dear Sir

In [148]:
import turtle
name=turtle.textinput("name","What is your name?")
name=name.lower()
if name.startswith("mr."):
    print("Hello sir, how are you?")
elif name.startswith("mrs.") or name.startswith("miss.") or name.startswith("ms."):
    print("Hello Madam,how are you?")
else:
    name=name.capitalize()
    str="Hi " +name+ "! How are you?"
    print(str)
turtle.exitonclick()

Hi Hamid! How are you?

In [149]:
str="a quick brown fox jumps over the lazy dog"
for c in "abcdefghijklmnopqrstubwxyz":
    print(c,str.count(c))

a 2
b 1
c 1
d 1
e 2
f 1
g 1
h 1
i 1
j 1
k 1
l 1
m 1
n 1
o 4
p 1
q 1
r 2
s 1
t 1
u 2
b 1
w 1
x 1
y 1
z 1

# data Structure chapter=9

In [150]:
saarc=["Bangladesh","India","Sri Lanka","Pakistan","Nepal","Bhutan"]
print(saarc)
saarc.append("Chittagong")
print(saarc)

['Bangladesh', 'India', 'Sri Lanka', 'Pakistan', 'Nepal', 'Bhutan']
['Bangladesh', 'India', 'Sri Lanka', 'Pakistan', 'Nepal', 'Bhutan', 'Chittagong']

In [151]:
saarc=["Bangladesh","India","Sri Lanka","Pakistan","Nepal","Bhutan"]
saarc.sort()
print(saarc)
li=[1,24,7,2,6,8]
li.sort()
print(li)

['Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']
[1, 2, 6, 7, 8, 24]

In [152]:
li=[1,2,3,4,5,6]
li.reverse()
print(li)
li=["mango","banana","orange"]
li.reverse()
print(li)

[6, 5, 4, 3, 2, 1]
['orange', 'banana', 'mango']

In [153]:
fruits=["mango","banana","orange"]
fruits.insert(0,"apple")#(index,item)
print(fruits)
fruits.insert(2,"coconut")
print(fruits)

['apple', 'mango', 'banana', 'orange']
['apple', 'mango', 'coconut', 'banana', 'orange']

In [154]:
fruits=["apple","mango","coconut","banana","orange"]
fruits.remove("coconut")
print(fruits)
fruits.remove("pineapple")
print(fruits)

['apple', 'mango', 'banana', 'orange']

ValueError: list.remove(x): x not in list

In [155]:
fruits=["apple","mango","coconut","banana","orange"]
fruits.remove("coconut")
print(fruits)
item="pineapple"
if item in fruits:#item==fruits
    remove(item)
else:
    print(item, " not in list")

['apple', 'mango', 'banana', 'orange']
pineapple  not in list

In [156]:
fruits=["apple","mango","banana","orange"]
item=fruits.pop()
print(item)
print(fruits)

orange
['apple', 'mango', 'banana']

In [157]:
fruits=["apple","mango","banana","orange"]
item=fruits.pop(1)
print(item)
print(fruits)

mango
['apple', 'banana', 'orange']

In [158]:
li=[1,2,3,4]
li2=[4,5,6,7,8]
li.extend(li2)
print(li)

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [159]:
li=[1,2,2,3,3,5,6,7,10,10]
print(li.count(2))
print(li.count(3))
print(li.count(10))

2
2
2

In [165]:
li=[1,2,3,3,4,5,6]
del(li[1])
print(li)
del(li[0])
print(li)
del(li)
print(li)

[1, 3, 3, 4, 5, 6]
[3, 3, 4, 5, 6]

NameError: name 'li' is not defined

In [166]:
li=[]
for x in range(10):
    li.append(x)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
li1=[1,2,3]
li2=[4,5,6]
li=li1+li2
print(li)
li=[1,2,3]
li2=li*3
print(li2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [168]:
li=["a","b","c"]
print(li)
str="".join(li)
print(str)
str=",".join(li)
print(str)
str="-".join(li)
print(str)

['a', 'b', 'c']
abc
a,b,c
a-b-c

In [169]:
li=[1,2,3]
new_li=[]
for x in li:
    new_li.append(x*2)
print(new_li)

[2, 4, 6]

In [170]:
li=[1,2,3,4]
new_li=[2*x for x in li]
print(new_li)

[2, 4, 6, 8]

In [171]:
li=[1,2,3,4,5,6,7,8,9,10]
even_numbers=[]
for x in li:
    if x%2==0:
        even_numbers.append(x)
print(even_numbers)

[2, 4, 6, 8, 10]

In [172]:
#list comprehensions
even_numbers=[x for x in range(1,11) if x%2==0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [173]:
new_li=[x*x for x in range(1,5)]
print(new_li)

[1, 4, 9, 16]

In [174]:
#tuple
x=(1,2,3)
type(x)

tuple

In [175]:
x=1,2,3
type(x)

tuple

In [176]:
x=1
print(type(x))
x=1,
print(type(x))

<class 'int'>
<class 'tuple'>

In [177]:
t=()
type(x)

tuple

In [178]:
x=(1,2,3)
print(x[0])
print(x[1])
print(x[2])
print(x[3])

1
2
3

IndexError: tuple index out of range

In [179]:
li=[1,2,3]
print(li)
li[0]=5
print(li)
tpl=(1,2,3)
print(tpl)
tpl[0]=5
print(tpl)

[1, 2, 3]
[5, 2, 3]
(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [180]:
numbers=(10,20,30,40)
n1,n2,n3,n4=numbers
print(n1)
print(n2)
print(n3)
print(n4)
t=n3,n4
print(t)
print(type(t))

10
20
30
40
(30, 40)
<class 'tuple'>

In [181]:
item=(1,2,3.3,["a","b","c"],("apple","mango"))
for i in item:
    print(i,type(i))
print(item[3])
item[3][0]
item[4][1]
print(item[4])

1 <class 'int'>
2 <class 'int'>
3.3 <class 'float'>
['a', 'b', 'c'] <class 'list'>
('apple', 'mango') <class 'tuple'>
['a', 'b', 'c']
('apple', 'mango')

In [182]:
li=[[1,2,3,4],[5,6,7,8]]
for i in li:
    print(i,type(i))

[1, 2, 3, 4] <class 'list'>
[5, 6, 7, 8] <class 'list'>

In [183]:
tpl=(1,2,3)
li=list(tpl)
print(li)

[1, 2, 3]

In [184]:
#set
a=set()
print(a)
print(type(a))

set()
<class 'set'>

In [185]:
item={"pen","laptop","cellphone"}
print(item)
print(type(item))

{'pen', 'cellphone', 'laptop'}
<class 'set'>

In [186]:
li=[1,2,3,4]
tpl=(1,2,3)
a=set(li)
print(a)
b=set(tpl)
print(b)
print(type(a))
print(type(b))

{1, 2, 3, 4}
{1, 2, 3}
<class 'set'>
<class 'set'>

In [187]:
A=set("Bangladesh")
print(A)
print(type(A))

B=set("Sri Lanka")
print(B)
print(type(B))

{'g', 'n', 'h', 'l', 'a', 'd', 'B', 's', 'e'}
<class 'set'>
{'i', 'L', ' ', 'r', 'k', 'n', 'S', 'a'}
<class 'set'>

In [188]:
A={1,2,3}
print(1 in A)
print(2 in A)
print(5 in A)

True
True
False

In [189]:
A={1,2,3,4,5}
B={2,4,6,8}
C=A&B
print(C)

C=A|B
print(C)

C=A^B
print(C)

C=A-B
print(C)

C=B-A
print(C)

{2, 4}
{1, 2, 3, 4, 5, 6, 8}
{1, 3, 5, 6, 8}
{1, 3, 5}
{8, 6}

In [190]:
#Dictionary
marks=[77,76,65,78,62,64,60,77,75,79]
roll=int(input("Enter your roll Number:"))
print("your marks is ",marks[roll-1])

Enter your roll Number:4
your marks is  78

In [191]:
marks=[[74,73],[70,75],[68,72],[73,73]]
print(marks[0])
print(marks[1][0])
print(marks[1][1])

[74, 73]
70
75

In [192]:
marks={1:77,2:76,5:62,4:78,3:65}
print(type(marks))

print(marks[3])

print("Marks of roll number 4 is", marks[4])

<class 'dict'>
65
Marks of roll number 4 is 78

In [193]:
marks={1005:77,1003:76,1002:62,1001:78,1004:65}
print(marks[1003])

76

In [194]:
marks={"DH1005":77,"DH1003":76,"DH1002":62,"DH1001":78,"DH1004":65}
print(marks["DH1002"])

62

In [195]:
dt={}
print(dt)
print(type(dt))
dt[1]="one"
print(dt)
dt[2]="two"
print(dt)

{}
<class 'dict'>
{1: 'one'}
{1: 'one', 2: 'two'}

In [196]:
dt={"a":"A","b":"B","c":"C"}
print(dt["a"])
print(dt["b"])
print(dt["c"])
print(dt["d"])

A
B
C

KeyError: 'd'

In [197]:
dt={"a":"A","b":"B","c":"C"}
dt[(1,2,3)]="tuple"
print(dt)

{'a': 'A', 'b': 'B', 'c': 'C', (1, 2, 3): 'tuple'}

In [198]:
dt={"a":"A","b":"B","c":"C"}
li=[1,2,3]
dt[li]="list"
print(dt)

TypeError: unhashable type: 'list'

In [199]:
s={1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [200]:
dt={"a":"A","b":"B","c":"C"}
s={1,2,3,4}
dt[s]="set"
print(dt)

TypeError: unhashable type: 'set'

In [201]:
marks={"DH1001":{"Bangla":74,"English":73},"DH1002":{"Bangla":70,"English":75}}
print(marks["DH1001"])
print(marks["DH1001"]["English"])
marks["DH1003"]={"Bangla":68,"English":72}
print(marks)
print((marks["DH1003"]))
print(marks["DH1003"]["Bangla"])

{'Bangla': 74, 'English': 73}
73
{'DH1001': {'Bangla': 74, 'English': 73}, 'DH1002': {'Bangla': 70, 'English': 75}, 'DH1003': {'Bangla': 68, 'English': 72}}
{'Bangla': 68, 'English': 72}
68

In [202]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
print(bd_division_info)

{'Barisal': {'District': 6, 'Upazilla': 39, 'Council': 333}, 'Chittagong': {'District': 11, 'Upazilla': 97, 'Council': 336}, 'Dhaka': {'District': 13, 'Upazilla': 93, 'Council': 1833}, 'Khulna': {'District': 10, 'Upazilla': 59, 'Council': 270}, 'Mymensingh': {'District': 4, 'Upazilla': 34, 'Council': 350}, 'Rajshahi': {'District': 8, 'Upazilla': 70, 'Council': 558}, 'Rangpur': {'District': 8, 'Upazilla': 58, 'Council': 536}, 'Sylhet': {'District': 4, 'Upazilla': 38, 'Council': 334}}

In [203]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
print(bd_division_info)
divisions=bd_division_info.keys()
print(divisions)

{'Barisal': {'District': 6, 'Upazilla': 39, 'Council': 333}, 'Chittagong': {'District': 11, 'Upazilla': 97, 'Council': 336}, 'Dhaka': {'District': 13, 'Upazilla': 93, 'Council': 1833}, 'Khulna': {'District': 10, 'Upazilla': 59, 'Council': 270}, 'Mymensingh': {'District': 4, 'Upazilla': 34, 'Council': 350}, 'Rajshahi': {'District': 8, 'Upazilla': 70, 'Council': 558}, 'Rangpur': {'District': 8, 'Upazilla': 58, 'Council': 536}, 'Sylhet': {'District': 4, 'Upazilla': 38, 'Council': 334}}
dict_keys(['Barisal', 'Chittagong', 'Dhaka', 'Khulna', 'Mymensingh', 'Rajshahi', 'Rangpur', 'Sylhet'])

In [204]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
divisions=bd_division_info.keys()
for division in divisions:
    print("Division ",division)

Division  Barisal
Division  Chittagong
Division  Dhaka
Division  Khulna
Division  Mymensingh
Division  Rajshahi
Division  Rangpur
Division  Sylhet

In [205]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
divisions=bd_division_info.keys()
for division in divisions:
    print(division, "upazila")
    print(bd_division_info[division]["Upazilla"])

Barisal upazila
39
Chittagong upazila
97
Dhaka upazila
93
Khulna upazila
59
Mymensingh upazila
34
Rajshahi upazila
70
Rangpur upazila
58
Sylhet upazila
38

In [207]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
divisions=bd_division_info.keys()
for division in divisions:
    print(division, "upazila")
    print(bd_division_info[division]["Upazilla"])

Barisal upazila
39
Chittagong upazila
97
Dhaka upazila
93
Khulna upazila
59
Mymensingh upazila
34
Rajshahi upazila
70
Rangpur upazila
58
Sylhet upazila
38

In [208]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
for item in bd_division_info:
    print(item)

Barisal
Chittagong
Dhaka
Khulna
Mymensingh
Rajshahi
Rangpur
Sylhet

In [209]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
for item in bd_division_info:
    print(item)
    print(bd_division_info[item])

Barisal
{'District': 6, 'Upazilla': 39, 'Council': 333}
Chittagong
{'District': 11, 'Upazilla': 97, 'Council': 336}
Dhaka
{'District': 13, 'Upazilla': 93, 'Council': 1833}
Khulna
{'District': 10, 'Upazilla': 59, 'Council': 270}
Mymensingh
{'District': 4, 'Upazilla': 34, 'Council': 350}
Rajshahi
{'District': 8, 'Upazilla': 70, 'Council': 558}
Rangpur
{'District': 8, 'Upazilla': 58, 'Council': 536}
Sylhet
{'District': 4, 'Upazilla': 38, 'Council': 334}

In [210]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
for item,value in bd_division_info.items():
    print(item)
    print(value)

Barisal
{'District': 6, 'Upazilla': 39, 'Council': 333}
Chittagong
{'District': 11, 'Upazilla': 97, 'Council': 336}
Dhaka
{'District': 13, 'Upazilla': 93, 'Council': 1833}
Khulna
{'District': 10, 'Upazilla': 59, 'Council': 270}
Mymensingh
{'District': 4, 'Upazilla': 34, 'Council': 350}
Rajshahi
{'District': 8, 'Upazilla': 70, 'Council': 558}
Rangpur
{'District': 8, 'Upazilla': 58, 'Council': 536}
Sylhet
{'District': 4, 'Upazilla': 38, 'Council': 334}

In [211]:
bd_division_info={}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Chittagong"]={"District":11,"Upazilla":97,"Council":336}
bd_division_info["Dhaka"]={"District":13,"Upazilla":93,"Council":1833}
bd_division_info["Khulna"]={"District":10,"Upazilla":59,"Council":270}
bd_division_info["Mymensingh"]={"District":4,"Upazilla":34,"Council":350}
bd_division_info["Rajshahi"]={"District":8,"Upazilla":70,"Council":558}
bd_division_info["Barisal"]={"District":6,"Upazilla":39,"Council":333}
bd_division_info["Rangpur"]={"District":8,"Upazilla":58,"Council":536}
bd_division_info["Sylhet"]={"District":4,"Upazilla":38,"Council":334}
print(bd_division_info["Chittagong"])
print(bd_division_info["Chittagong"]["District"])
print(bd_division_info["Chittagong"]["Upazilla"])
print(bd_division_info["Chittagong"]["Council"])

{'District': 11, 'Upazilla': 97, 'Council': 336}
11
97
336

# drawing program chapter=10

In [212]:
#Random number
import random
print(random.random())
print(random.random())
print(random.random())
print(random.randint(10,50))
print(random.randint(10,50))
print(random.randint(10,50))

0.1480339070479021
0.2255088585870313
0.653983152444247
34
12
11

In [214]:
import turtle
print(turtle.position())
turtle.forward(100)
print(turtle.position())
turtle.left(90)
print(turtle.position())
turtle.forward(50)
print(turtle.position())
turtle.exitonclick()
turtle.backward(200)
print(turtle.position())

(0.00,0.00)
(100.00,0.00)
(100.00,0.00)
(100.00,50.00)

Terminator:

In [215]:
import turtle
import random

for i in range(20):
    print(random.randint(-200,200))
    print(random.randint(-200,200))

32
-6
96
-79
48
-77
114
17
156
-144
-78
-30
70
22
75
-180
19
64
176
-93
62
186
-130
-47
14
97
32
56
-17
6
95
68
-179
-123
-58
76
137
7
-97
128

In [216]:
import turtle
import random

for i in range(20):
    x=random.randint(-200,200)
    y=random.randint(-200,200)
    turtle.setposition(x,y)
    turtle.dot()
turtle.exitonclick()

In [218]:
import turtle
import random
turtle.penup()
for i in range(50):
    x=random.randint(-200,200)
    y=random.randint(-200,200)
    turtle.setposition(x,y)
    turtle.dot()
turtle.exitonclick()

In [220]:
import turtle
import random
#list of color
colors=["red","green","blue","yellow","orange","black","purple"]
turtle.penup()
for i in range(50):
    x=random.randint(-200,200)
    y=random.randint(-200,200)
    #set a random position
    turtle.setposition(x,y)
    #set a random color
    i=random.randint(0,len(colors)-1)
    turtle.dot(colors[i])
turtle.exitonclick()

In [ ]:
import random

number=random.randint(1,1000)
attempts=0
while True:
    input_number=int(input("Guess the number (between 1 and 1000):"))
    attempts+=1
    if input_number==number:
        print("Yes , you guess is correct!")
        break
    if input_number>number:
        print("Incorrect!Please try to guess a smaller number.")
    else:
        print("Incorrect!Please try to guess a larger  number.")
print("you tried", attempts, "times to find the correct number.=")

Guess the number (between 1 and 1000):500
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):250
Incorrect!Please try to guess a larger  number.
Guess the number (between 1 and 1000):300
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):350
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):340
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):341
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):342
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):343
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):344
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):345
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):346
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):0
Incorrect!Please try to guess a larger  number.

In [1]:
print(5/2)
print(5//2)
print(4/2)
print(4//2)
print(10/3)
print(10//3)
print(10/6)
print(10//6)

2.5
2
2.0
2
3.3333333333333335
3
1.6666666666666667
1

In [2]:
import random

number=random.randint(1,1000)
attempts=0

low=1
high=1000
while True:
    print("Guess the number (between 1 and 1000):")
    input_number=(low+high)//2#only integer division
    print("My guess is ", input_number)
    attempts+=1

    if input_number==number:
        print("Yes , you guess is correct!")
        break
    if input_number>number:
        print("Incorrect!Please try to guess a smaller number.")
        high=input_number-1
    else:
        print("Incorrect!Please try to guess a larger  number.")
        low=input_number+1
print("you tried", attempts, "times to find the correct number.=")

Guess the number (between 1 and 1000):
My guess is  500
Incorrect!Please try to guess a larger  number.
Guess the number (between 1 and 1000):
My guess is  750
Incorrect!Please try to guess a larger  number.
Guess the number (between 1 and 1000):
My guess is  875
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):
My guess is  812
Incorrect!Please try to guess a larger  number.
Guess the number (between 1 and 1000):
My guess is  843
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):
My guess is  827
Incorrect!Please try to guess a larger  number.
Guess the number (between 1 and 1000):
My guess is  835
Incorrect!Please try to guess a smaller number.
Guess the number (between 1 and 1000):
My guess is  831
Incorrect!Please try to guess a larger  number.
Guess the number (between 1 and 1000):
My guess is  833
Yes , you guess is correct!
you tried 9 times to find the correct number.=

In [3]:
#prime number
def is_prime(n):
    if n<2:
        return False
    prime=True
    for x in range(2,n):#2=n-1
        if n%x==0:
            print(n," is divisible by" ,x)
            prime=False
    return prime
while True:
    number=int(input("Plese enter a number (enter 0 to exit):"))
    if number==0:
        break
    prime=is_prime(number)
    if prime is True:
        print(number," is a prime number.")
    else:
        print(number," is not a prime number.")

Plese enter a number (enter 0 to exit):77
77  is divisible by 7
77  is divisible by 11
77  is not a prime number.
Plese enter a number (enter 0 to exit):10
10  is divisible by 2
10  is divisible by 5
10  is not a prime number.
Plese enter a number (enter 0 to exit):50
50  is divisible by 2
50  is divisible by 5
50  is divisible by 10
50  is divisible by 25
50  is not a prime number.
Plese enter a number (enter 0 to exit):53
53  is a prime number.
Plese enter a number (enter 0 to exit):11
11  is a prime number.
Plese enter a number (enter 0 to exit):17
17  is a prime number.
Plese enter a number (enter 0 to exit):0

In [4]:
def is_prime(n):
    if n<2:
        return False
    prime=True
    for x in range(2,n):#2=n-1
        if n%x==0:
            print(n," is divisible by" ,x)
            prime=False
            return prime
    return prime
while True:
    number=int(input("Plese enter a number (enter 0 to exit):"))
    if number==0:
        break
    prime=is_prime(number)
    if prime is True:
        print(number," is a prime number.")
    else:
        print(number," is not a prime number.")

Plese enter a number (enter 0 to exit):77
77  is divisible by 7
77  is not a prime number.
Plese enter a number (enter 0 to exit):10
10  is divisible by 2
10  is not a prime number.
Plese enter a number (enter 0 to exit):50
50  is divisible by 2
50  is not a prime number.
Plese enter a number (enter 0 to exit):17
17  is a prime number.
Plese enter a number (enter 0 to exit):0

In [5]:
def is_prime(n):
    if n==2:
        return True # 2 is prime
    if n%2==0:
        print(n," is divided by 2")
        return False #all even numbers excepted 2 are not prime
    if n<2:
        return False # number less than 2 are not prime
    prime=True
    for x in range(3,n,2):  # 2=n-1
        if n % x == 0:
            print(n, " is divisible by", x)
            prime = False
            return prime
    return prime
while True:
    number=int(input("Plese enter a number (enter 0 to exit):"))
    if number==0:
        break
    prime=is_prime(number)
    if prime is True:
        print(number," is a prime number.")
    else:
        print(number," is not a prime number.")

Plese enter a number (enter 0 to exit):77
77  is divisible by 7
77  is not a prime number.
Plese enter a number (enter 0 to exit):10
10  is divided by 2
10  is not a prime number.
Plese enter a number (enter 0 to exit):50
50  is divided by 2
50  is not a prime number.
Plese enter a number (enter 0 to exit):53
53  is a prime number.
Plese enter a number (enter 0 to exit):11
11  is a prime number.
Plese enter a number (enter 0 to exit):17
17  is a prime number.
Plese enter a number (enter 0 to exit):0

In [6]:
def is_prime(n):
    if n==2:
        return True # 2 is prime
    if n%2==0:
        print(n," is divided by 2")
        return False #all even numbers excepted 2 are not prime
    if n<2:
        return False # number less than 2 are not prime
    prime=True
    m=n//2+1
    for x in range(3,m,2):  # 2=n-1
        if n % x == 0:
            print(n, " is divisible by", x)
            prime = False
            return prime
    return prime
while True:
    number=int(input("Plese enter a number (enter 0 to exit):"))
    if number==0:
        break
    prime=is_prime(number)
    if prime is True:
        print(number," is a prime number.")
    else:
        print(number," is not a prime number.")

Plese enter a number (enter 0 to exit):77
77  is divisible by 7
77  is not a prime number.
Plese enter a number (enter 0 to exit):10
10  is divided by 2
10  is not a prime number.
Plese enter a number (enter 0 to exit):0

In [7]:
import math
def is_prime(n):
    if n==2:
        return True # 2 is prime
    if n%2==0:
        print(n," is divided by 2")
        return False #all even numbers excepted 2 are not prime
    if n<2:
        return False # number less than 2 are not prime
    prime=True
    m=math.sqrt(n)
    m=int(m)+1
    for x in range(3,m,2):  # 2=n-1
        if n % x == 0:
            return False
    return True
while True:
    number=int(input("Plese enter a number (enter 0 to exit):"))
    if number==0:
        break
    prime=is_prime(number)
    if prime is True:
        print(number," is a prime number.")
    else:
        print(number," is not a prime number.")

Plese enter a number (enter 0 to exit):11
11  is a prime number.
Plese enter a number (enter 0 to exit):22
22  is divided by 2
22  is not a prime number.
Plese enter a number (enter 0 to exit):0

In [1]:
import math
def is_prime4(n=1013):
    if n==2:
        return True # 2 is prime
    if n%2==0:
        return False #all even numbers excepted 2 are not prime
    if n<2:
        return False # number less than 2 are not prime
    m=math.sqrt(n)
    m=int(m)+1
    for x in range(3,m,2):  # 2=n-1
        if n % x == 0:
            return False
    return True
def is_prime3(n=1013):
    if n==2:
        return True # 2 is prime
    if n%2==0:
        return False #all even numbers excepted 2 are not prime
    if n<2:
        return False # number less than 2 are not prime
    prime=True
    for x in range(3,n,2):  # 2=n-1
        if n % x == 0:
            prime = False
            return prime
    return prime
import timeit
t1=timeit.timeit(is_prime3)
t2=timeit.timeit(is_prime4)
print(t1,t1,t1/t2)

68.8381394 68.8381394 20.85257133482151

In [ ]:
import turtle
turtle.color("red","yellow")
turtle.begin_fill()
while True:
    turtle.forward(200)
    turtle.left(170)
    if abs(turtle.position())<1:
        break
turtle.end_fill()
turtle.exitonclick()